debug
release
qmake_resources.qrc
Makefile
x86_64
aarch64
armhf
amd64

credentials.zip
*.lock.yml

build-*

# After committing it once, to stop having modifications every time you do 
# anything on Qt Creator (like dragging the window, literally almost anything),
# uncomment the line below
# .qt

.conf/.depok
.conf/.docok
